<distributed-cache name="5bf53b58-e2dc-4c15-8299-4e578f89991b" enabled="true" expires-after="@new TimeSpan(DateTime.UtcNow.AddDays(300).Ticks)">
<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex">

        <a href="/" class="logo mr-auto"><img src="~/default/img/logo/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="drop-down">
                    <a href="/residential">Residential</a>
                    <ul>
                        <li><a href="/flat-glass-plastics">Flat Glass & Plastics</a></li>
                        <li><a href="/mirrors-shower-doors">Mirrors & Shower Doors</a></li>
                        <li><a href="/screens">Screens</a></li>
                        <li><a href="/windows-doors">Windows & Doors</a></li>
                        <li><a href="/services">Services</a></li>
                    </ul>
                </li>
                <li class="drop-down">
                    <a href="/commercial">Commercial</a>
                    <ul>
                        <li><a href="/new-construction">New Construction</a></li>
                        <li><a href="/repair-replace">Repair & Replace</a></li>
                        <li><a href="/services">Services</a></li>
                    </ul>
                </li>
                <li class="drop-down">
                    <a href="/about">About</a>
                    <ul>
                        <li><a href="/about#our-company">Our Company</a></li>
                        <li><a href="/about#career-employment">Career Employment</a></li>
                        <li><a href="/about#fieldwork">News</a></li>
                        <li><a href="/about#faq">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->
        <div class="row social-nav">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="social-nav-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@Url.Content("~/default/img/logo/share-Icon.png")"  data-src="@Url.Content("~/default/img/logo/share-Icon.png")" class="lazy text-right"/>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <ul>
                            <li>
                                <a class="dropdown-item" href="https://www.facebook.com/cityglasscompany/" target="_blank">
                                    <img class="lazy" data-src="@Url.Content("~/default/img/logo/facebook.png")" />
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://www.instagram.com/cityglasscompany/" target="_blank">
                                    <img class="lazy" data-src="@Url.Content("~/default/img/logo/Instagram.png")" />
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://twitter.com/CityGlassCS/" target="_blank">
                                    <img class="lazy" data-src="@Url.Content("~/default/img/logo/twitter.png")" />
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://www.youtube.com/channel/UCfwZn0-eGe72Aj96cnfg9mw/" target="_blank">
                                    <img class="lazy" data-src="@Url.Content("~/default/img/logo/youtube.png")" />
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://www.linkedin.com/company/city-glass-company/" target="_blank">
                                    <img class="lazy" data-src="@Url.Content("~/default/img/logo/Linkedin.png")" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
            </div>
          
        </div>

    </div>

</header>
<!-- End Header -->
</distributed-cache>