@{
    ViewData["Title"] = "About";
}
<!-- Start Header -->
<section class="d-flex align-items-center header-common header-common-img">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                <h1 class="text-center">About Us</h1>
            </div>
        </div>
    </div>
</section><!-- End Header -->
<!-- Start Our Company -->
<section id="our-company">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="pt-5 col-xl-5 col-lg-5 col-md-5 text-center">
                <img src="@Url.Content("~/default/img/about/City-Logo-Round.png")" class="lazy img-fluid" alt="" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 pt-2 pt-lg-0" data-aos="fade-left" data-aos-delay="100">
                <div class="section-title">
                    <h2>City Glass Company</h2>
                </div>
                <div class="section-text">
                    <p class="text-justify">
                        Our glass services are perfect for homeowners, property managers and store owners. If your home or business is in need of emergency glass service or maintenance, we’ll make sure your property is safe, secured and repaired as soon as possible.
                    </p>
                    <p class="text-justify">
                        We are in business to serve customers who require anything involving glass, mirrors and related materials – in residential, commercial and new construction settings. This includes: replacing glass in homes and businesses, installing new aluminum store fronts, curtainwall and glass for new construction of commercial buildings, repairing storm windows and doors, installing custom mirrors and shower enclosures, providing glass table tops, screens, picture frame glass, and aquarium glass repairs.
                    </p>
                </div>
                <div class="section-link">
                    <a href="/about#ourstory" class="link-btn"><span class="link-btn-label">Watch Our Story</span></a>
                </div>
                <div id="ourstory"></div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <hr class="hr-divide" />
    </div>
</section>
<!-- End Our Company -->

<section class="pt-0">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-xl-12 col-lg-12 col-md-12 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="100">
                <div class="section-title">
                    <h2>Project Gallery</h2>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 d-flex" data-aos="fade-left" data-aos-delay="100">
                <div class="sideslide" style="height: 70vh">
                    <div id="slider_two" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider_two" data-slide-to="0" class="active"></li>
                            <li data-target="#slider_two" data-slide-to="1" class=""></li>
                            <li data-target="#slider_two" data-slide-to="2" class=""></li>
                            <li data-target="#slider_two" data-slide-to="3" class=""></li>
                            <li data-target="#slider_two" data-slide-to="4" class=""></li>
                            <li data-target="#slider_two" data-slide-to="5" class=""></li>
                            <li data-target="#slider_two" data-slide-to="6" class=""></li>
                            <li data-target="#slider_two" data-slide-to="7" class=""></li>
                            <li data-target="#slider_two" data-slide-to="8" class=""></li>
                            <li data-target="#slider_two" data-slide-to="9" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/about/Project-Gallery.png"))"></div>
                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/residential/iStock-525964080.jpg"))"></div>

                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/commercial/city-glass-company-old-chicago03.jpg"))"></div>
                            
                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/about/IMG_1442.jpeg"))"></div>
                            
                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/residential/iStock-183289827.jpg"))"></div>

                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/commercial/board-up-services-624.jpg"))"></div>
                            
                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/about/Double-Hung-Windows.jpg"))"></div>
                            
                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/about/glass-shelves003.jpg"))"></div>
                            
                            <div class="carousel-item " style="background-image: url(@Url.Content("~/default/img/residential/tub-glass-enclosure003.jpg"))"></div>
                            
                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/shower-enclosure003.jpg"))">  </div> 
                            

                        </div>
                        <a class="carousel-control-prev" href="#slider_two" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#slider_two" role="button" data-slide="next">
                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_ApplicationBottomLink" />

<section id="history">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="100">
                <div class="section-title">
                    <h2>Our History</h2>
                </div>
                <div class="section-text">
                    <p class="text-justify">
                        City Glass Company has been a mainstay in the Pikes Peak Region since founded by James H. Davidson in 1950. The glass and mirror company has been family owned and operated since its inception and is proud to continue to operate in the family tradition today.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                <img data-src="@Url.Content("~/default/img/about/Our-History.png")" class="lazy img-fluid" alt="">
            </div>
        </div>
    </div>
</section>



<section id="fieldwork" class="bg-gray">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="pb-3 text-center">
                    Watch how our experts handle replacing windows!
                </h3>
                <div class="video-wrapper">
                <video loop poster="@Url.Content("~/default/video/cover.jpg")" controls preload="none">
                    <source src="@Url.Content("~/default/video/city_glass_final_compressed.mp4")" type="video/mp4" />
                </video>
                    <a class="video-playpause"><i class="icofont-play-alt-2"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-5 pb-5">
                <div class="d-flex flex-wrap container p-2 justify-content-center" data-aos="fade-up">
                    <h4 class="pb-3 text-center">
                        Interested in seeing more of our instructional videos? Subscribe to our YouTube channel
                    </h4>
                    <a href="https://www.youtube.com/channel/UCfwZn0-eGe72Aj96cnfg9mw" target="_blank">
                        <img data-src="@Url.Content("~/default/img/logo/Subscribe.png")" alt="" title="" class="lazy img-fluid wf-500">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse collapsed" href="#faq-list-1" aria-expanded="false">What is so special about the relationship between high altitude and glazing? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            City Glass takes extra precautions when installing windows into a home or business located at high elevation. We make sure the windows we use at high altitude have “breather tubes”, which help to relieve the pressure between glass panes that occurs during transportation between altitudes.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed" aria-expanded="false">What do breather tubes do? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            Windows that have breather tubes are usually manufactured at lower elevations. The tube, made of aluminum, is installed between the panes of window glass. When moving windows from the manufacturer to the installation site at higher (or lower) elevations, the breather tube will be open to allow air pressure between panes of glass to be equalized in the new climate. Once this has occurred, the 3 to 6 inch tube may be crimped shut. The window will then be acclimated and expected to offer a long life of service in its new surroundings.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed" aria-expanded="false">If a window gets broken in my home or business, does City Glass provide emergency service? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            Yes. Just call our 24-hour emergency service department at 719-634-2891. We are here to serve you anytime of the day or night.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed" aria-expanded="false">How do I know City Glass is a reputable company? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            City Glass has been in the glass and glazing business since 1950. We are the oldest and largest full-service glass and glazing company in the Pikes Peak Region. Our glass and glazing company has an A+ Rating with the Better Business Bureau. With over 35 employees, and 20 service vehicles, we offer fair, fast, and honest service on small and large-scale glass and glazing projects throughout the Pikes Peak Region.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="" aria-expanded="true">What core service does City Glass provide? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse show" data-parent=".faq-list" style="">
                        <p>
                            We are in business to serve customers who need basically anything involving glass, mirrors and related materials – in residential, commercial and new construction settings. This includes the following: replacing glass in homes and businesses, installing new aluminum store fronts, curtainwall and glass for new construction of commercial buildings, repairing storm windows and doors, installing custom mirrors and shower enclosures, providing glass table tops, screens, picture frame glass, and aquarium glass repairs.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed" aria-expanded="false">Does City Glass Company repair auto glass? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            No. Unfortunately, we do not sell or install automotive glass.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="700">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-7" class="collapsed" aria-expanded="false">Are you accepting job applications? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-7" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            We certainly are! You may come into the shop or apply online above.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>


<partial name="_ContactUsBottomLink" />

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("video").on("pause",
                function(e) {
                    $(".video-playpause").fadeIn();
                });
            $("video").on("play",
                function(e) {
                    $(".video-playpause").fadeOut();
                });
            $(".video-playpause").on("click",
                function(e) {
                    $(".video-playpause").fadeOut();
                    $('video').trigger('play');
                });
        })
    </script>
}
