@{
    ViewData["Title"] = "Flat Glass & Plastics";
}

<!-- ======= Header ======= -->
<section class="d-flex align-items-center header-common header-common-img">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                <h1 class="text-center">Flat Glass & Plastics</h1>
            </div>
        </div>
    </div>
</section><!-- End Header -->

<main id="main">

    <!-- ======= Header Description Section ======= -->
    <section class="header-common-des about">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <h3>
                        Customize your table glass or shelving with our variety of glass, Plexiglass, and finish options. Choose from clear, tinted, textured, reflective, frosted glass and more. City Glass Company also offers the region’s finest glass etching to further enhance your project’s design.
                    </h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                    <hr class="hr-divide" />
                </div>
            </div>
        </div>
    </section><!-- End Header Description Section -->
    <!-- ======= 1 Section ======= -->
    <section id="flat-glass-plastics-section-1" class="slider-section pt-0 pb-0">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <div class="slider-box mr-2">
                        <div class="slider-box-img">
                            <div class="sideslide">
                                <div id="slider_one" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider_one" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider_one" data-slide-to="1" class=""></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide 1 -->
                                        <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/iStock-183289827.jpg"))">

                                        </div>
                                        <!-- Slide 2 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/table-glass.png"))">

                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#slider_one" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider_one" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-box-title">
                            <h2>Tabletops</h2>
                        </div>
                        <div class="slider-box-content">
                            <p>
                                A creative and elegantly designed glass table can improve the look of any room in your home. Not only do glass tables brighten a room, they are extremely versatile in style. Consider a custom table for your ultra–modern kitchen or consult our glass etching experts to create a classically decorative glass dining table.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <div class="slider-box ml-2">
                        <div class="slider-box-img">
                            <div class="sideslide">
                                <div id="slider_two" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider_two" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider_two" data-slide-to="1" class=""></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide 1 -->
                                        <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/glass-shelves.jpg"))">

                                        </div>
                                        <!-- Slide 2 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/iStock-182247682.jpg"))">

                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#slider_two" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider_two" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-box-title">
                            <h2>Shelving</h2>
                        </div>
                        <div class="slider-box-content">
                            <p>
                                Customize your shelving with our variety of glass and finish options. Choose from clear, tinted, textured, reflective, frosted glass and more. City Glass Company also offers the region’s finest glass etching to further enhance your project’s design.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- 1 Section -->
    <!-- ======= 2 Section ======= -->
    <section id="flat-glass-plastics-section-2" class="slider-section">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                    <div class="slider-box mr-2">
                        <div class="slider-box-img">
                            <div class="sideslide">
                                <div id="slider_three" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider_three" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider_three" data-slide-to="1" class=""></li>
                                        <li data-target="#slider_three" data-slide-to="2" class=""></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide 1 -->
                                        <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/panel-glass.png"))">

                                        </div>
                                        <!-- Slide 2 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/glass-cabinet-inserts-front001.jpg"))">

                                        </div>
                                        <!-- Slide 3 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/glass-cabinet-inserts-angle001.jpg"))">

                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#slider_three" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider_three" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-box-title">
                            <h2>Cabinets</h2>
                        </div>
                        <div class="slider-box-content">
                            <p>
                                City Glass Company has access to an excellent variety of clear, tinted, or decorative glass panels for installation in most cabinets. We provide glass panels in homes and businesses throughout the Colorado Springs area, custom designing cabinet glass panels for kitchens, bathrooms, offices and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <div class="slider-box ml-2">
                        <div class="slider-box-img">
                            <div class="sideslide">
                                <div id="slider_four" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider_four" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider_four" data-slide-to="1" class=""></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide 1 -->
                                        <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/iStock-1216233882.jpg"))">

                                        </div>
                                        <!-- Slide 2 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/iStock-1227208602.jpg"))">

                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#slider_four" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider_four" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-box-title">
                            <h2>Plastics</h2>
                        </div>
                        <div class="slider-box-content">
                            <p>
                                Strong, beautiful, and affordable, Plexiglass gives the beauty of glass without breakage. Plexiglass has many advantages over regular glass for some specific purposes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End 2 Section -->

</main><!-- End #main -->

<partial name="_ContactUsBottomLink" />

