@{
    ViewData["Title"] = "Home";
}


<section class="fullscreen-video-wrap" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12 video-wrapper">
            <video loop poster="@Url.Content("~/default/video/cover.jpg")" preload="metadata" controls>
                <source src="@Url.Content("~/default/video/city_glass_final_compressed.mp4")" type="video/mp4" />
                <source type="video/webm" src="@Url.Content("~/default/video/cover.jpg")">
            </video>
            <a class="video-playpause"><i class="icofont-play-alt-2"></i></a>
        </div>
    </div>
</section>

<div class="bg-light">
    <div class="row">
        <div class="col-12 pt-5 pb-5">
            <div class="d-flex flex-wrap container p-2 justify-content-center" data-aos="fade-up">
                <h3 class="pb-3 text-center">
                    Interested in seeing more of our instructional videos? Subscribe to our YouTube channel
                </h3>
                <a href="https://www.youtube.com/channel/UCfwZn0-eGe72Aj96cnfg9mw" target="_blank">
                    <img  data-src="@Url.Content("~/default/img/logo/Subscribe.png")" alt="" title="" class="lazy img-fluid wf-500">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <hr class="mt-0" />
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 pt-5 pb-5">
            <div class="d-flex flex-wrap container p-2 justify-content-center" data-aos="fade-up">
                <h3 class="pb-3 text-center">
                    Colorado Springs most reliable glass company
                </h3>
                <h4 class="pb-3 text-center">
                    for mirrors, showers, windows, storefronts and more!
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card no-border" data-aos="fade-right">
                    <img class="lazy card-img-top" data-src="@Url.Content("~/default/img/home/Residentials_1.jpg")" />
                    <div class="card-body bg-gray">
                        <div class="row">
                            <div class="col-12 pt-3 pb-3">
                                <a class="link-btn btn-yellow-xl btn-block" href="/residential/">Residential</a>
                            </div>
                        </div>
                        <h5 class="card-title">City Glass Company provides home glass repair and many other services to ensure you have the look and feel that you want in the place you call home.</h5>
                    </div>
                </div>
                <div class="card no-border" data-aos="fade-left">
                    <img class="lazy card-img-top" data-src="@Url.Content("~/default/img/home/commertial_1.jpg")" />
                    <div class="card-body bg-gray">
                        <div class="row">
                            <div class="col-12 pt-3 pb-3">
                                <a class="link-btn btn-yellow-xl btn-block" href="/Commercial/">Commercial</a>
                            </div>
                        </div>
                        <h5 class="card-title">Area business owners trust City Glass to execute their glass and mirror installations on time, on budget, and with excellent results.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                <img class="lazy img-fluid" data-src="@Url.Content("~/default/img/home/Feature-Section.png")" />
            </div>
            <div class="col-lg-6 pt-4 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
                <h4>Feature Section – Shower Enclosures</h4>
                <hr />
                <h5>
                    Shower enclosures are a speciality at City Glass. Trusted by many of the home builders in the Pikes Peak Region, we can transform your home to have a modernized & updated look to your bathrooms. Our estimators will provide a complimentary quote and consultation on what product works best for your decor and your budget.
                </h5>
                <div class="row">
                    <div class="col-12 pt-3 pb-3">
                        <a class="link-btn btn-yellow-xl" href="/mirrors-shower-doors/">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="testimonials" class="testimonials">
    <div class="container aos-init aos-animate" data-aos="zoom-in">
        <div class="owl-carousel testimonials-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-4440px, 0px, 0px); transition: all 0.25s ease 0s; width: 12210px;">
                    <div class="owl-item">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span style="font-family: roboto; font-size: 35px; font-weight: 400; color: black; text-align: center;">Very authentic source of all types of glass.</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                <h2 style="font-family: roboto; font-size: 35px; font-weight: 400; color: black; text-align: center;">Rab</h2>
                            </p>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span style="font-family: roboto; font-size: 35px; font-weight: 400; color: black; text-align: center;">Great company… on time with delivery and very trustworthy!</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                <h2 style="font-family: roboto; font-size: 35px; font-weight: 400; color: black; text-align: center;">Carol Buck</h2>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
            <h2>Showroom</h2>
            <h4>
                <p>Hours: Monday – Friday 8 a.m. – 5 p.m.</p>
                <p>
                    Parking is available off of Colorado Ave,
                    West of the Colorado Avenue entrance and from the North side of the building off of Spruce Street.
                </p>
            </h4>
            <h4>
                <p>414 West Colorado Avenue</p>
                <p>Colorado Springs, CO 80905</p>
            </h4>
        </div>
        <div>
            <iframe class="lazy" style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3107.9758087678056!2d-104.83560218529229!3d38.83301485834294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x871345255b64f729%3A0x6e8c72a1adc4ea3f!2sCity%20Glass%20Company!5e0!3m2!1sen!2s!4v1582566439424!5m2!1sen!2s" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3107.9758087678056!2d-104.83560218529229!3d38.83301485834294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x871345255b64f729%3A0x6e8c72a1adc4ea3f!2sCity%20Glass%20Company!5e0!3m2!1sen!2s!4v1582566439424!5m2!1sen!2s"  frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>

<partial name="_ContactUsBottomLink" />

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("video").on("pause",
                function(e) {
                    $(".video-playpause").fadeIn();
                });
            $("video").on("play",
                function(e) {
                    $(".video-playpause").fadeOut();
                });
            $(".video-playpause").on("click",
                function(e) {
                    $(".video-playpause").fadeOut();
                    $('video').trigger('play');
                });
        })
    </script>
}
