@{
    ViewData["Title"] = "Mirrors & Shower Doors";
}

<!-- ======= Header ======= -->
<section class="d-flex align-items-center header-common header-mirrors-shower-doors">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                <h1 class="text-center">Mirrors & Shower Doors</h1>
            </div>
        </div>
    </div>
</section><!-- End Header -->

<main id="main">
    <!-- ======= Header Description Section ======= -->
    <section class="header-common-des about">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <h3>
                        City Glass Company is one of the most trusted names in the business when someone needs a new shower enclosure or mirror applications. Whether your home is big or small, 10 or 100 years old, urban or rural…let us create your dream shower enclosure!
                    </h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                    <hr class="hr-divide" />
                </div>
            </div>
        </div>
    </section><!-- End Header Description Section -->
    <!-- ======= 1 Section ======= -->
    <section id="mirrors-shower-doors-section-1" class="slider-section pt-0">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <div class="slider-box mr-2">
                        <div class="slider-box-img">
                            <div class="sideslide">
                                <div id="slider_one" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider_one" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider_one" data-slide-to="1" class=""></li>
                                        <li data-target="#slider_one" data-slide-to="2" class=""></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide 1 -->
                                        <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/glass-shower-enclosure003.jpg"))">

                                        </div>
                                        <!-- Slide 2 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/shower-enclosure003.jpg"))">

                                        </div>
                                        <!-- Slide 3 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/iStock-1178594353.jpg"))">

                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#slider_one" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider_one" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-box-title">
                            <h2>Mirrors</h2>
                        </div>
                        <div class="slider-box-content">
                            <p>
                                City Glass helps put the finishing touch on your dream space with an exquisite mirror to reflect your distinguished style. Mirrors bring visual interest and add radiance to a space. Our glaziers help customers express themselves with our carefully curated selection of mirrors. They are designed to add an elevated touch of sophistication to every room.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                    <div class="slider-box ml-2">
                        <div class="slider-box-img">
                            <div class="sideslide">
                                <div id="slider_two" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider_two" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider_two" data-slide-to="1" class=""></li>
                                        <li data-target="#slider_two" data-slide-to="2" class=""></li>
                                        <li data-target="#slider_two" data-slide-to="3" class=""></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide 1 -->
                                        <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/tub-glass-enclosure003.jpg"))">

                                        </div>
                                        <!-- Slide 2 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/shower-enclosure003.jpg"))">

                                        </div>
                                        <!-- Slide 3 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/glass-shower-enclosure011.jpg"))">

                                        </div>
                                        <!-- Slide 4 -->
                                        <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/glass-shower-door017_cr.jpg"))">

                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#slider_two" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider_two" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-box-title">
                            <h2>Shower Doors</h2>
                        </div>
                        <div class="slider-box-content">
                            <p>
                                Our glaziers have installed thousands of shower enclosures throughout Colorado Springs.
                            </p>
                            <p>
                                Select the shower door style and design that’s perfect for you. We’ll fabricate and install the door to your specifications. Regardless of the size or complexity of your project, we’ll create the shower or tub enclosure of your dreams.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- 1 Section -->

</main><!-- End #main -->

<partial name="_ContactUsBottomLink" />
