@{
    ViewData["Title"] = "Residential";
}

    <!-- ======= Header ======= -->
    <section class="d-flex align-items-center header-common header-residential">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="text-center">Residential</h1>
                </div>
            </div>
        </div>
    </section><!-- End Header -->


    <main id="main">

        <!-- ======= Header Description Section ======= -->
        <section class="header-common-des about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <p>
                            City Glass Company provides home glass repair, mirrors, shower enclosures, and many other services to ensure you have the look and feel that you want in your home.
                        </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Header Description Section -->
        <!-- ======= Flat Glass & Plastics Section ======= -->
        <section id="flat-glass-plastics" class="about pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                        <img src="@Url.Content("~/default/img/residential/shower-enclosure003.jpg")" data-src="@Url.Content("~/default/img/residential/shower-enclosure003.jpg")" class="lazy img-fluid" alt="">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="100">
                        <div class="section-title">
                            <h2>Flat Glass & Plastics</h2>
                        </div>
                        <div class="section-text">
                            <p class="text-justify">
                                Transform your home with custom table glass and shelves. City Glass Company’s glaziers artfully design glass for tables and shelves, available in a wide variety of styles.
                            </p>
                            <p class="text-justify">
                                Plexiglass is a wonderful alternative to traditional glass in some home situations. When you want shatterproof clear views in high traffic locations, it could be your best solution.
                            </p>
                        </div>
                        <div class="section-link">
                            <a href="/flat-glass-plastics" class="link-btn btn-yellow-xl"><span class="link-btn-label">Learn More</span></a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-4">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Flat Glass & Plastics Section -->
        <!-- ======= Mirrors & Shower Doors Section ======= -->
        <section id="mirrors-shower-doors" class="about pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="100">
                        <div class="section-title">
                            <h2>Mirrors & Shower Doors</h2>
                        </div>
                        <div class="section-text">
                            <p class="text-justify">
                                City Glass Company is one of the most trusted names in the business when someone needs a mirror or shower door. Whether your home is big or small, 10 or 100 years old, urban or rural…
                            </p>
                        </div>
                        <div class="section-link">
                            <a href="/mirrors-shower-doors" class="link-btn btn-yellow-xl"><span class="link-btn-label">Learn More</span></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                        <img data-src="@Url.Content("~/default/img/residential/shower-enclosure.jpg")" class="lazy img-fluid" alt="">
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-4">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Mirrors & Shower Doors Section -->
        <!-- ======= Windows & Doors Section ======= -->
        <section id="windows-doors" class="about pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                        <img data-src="@Url.Content("~/default/img/residential/doors-windows.jpg")" class="lazy img-fluid" alt="">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="100">
                        <div class="section-title">
                            <h2>Windows & Doors</h2>
                        </div>
                        <div class="section-text">
                            <p class="text-justify">
                                Quality windows and doors add value, protection, and energy efficiency to your home. With a wide range of styles and materials, City Glass Company provides Colorado Springs’ finest windows and doors installation, replacement, and design.
                            </p>
                        </div>
                        <div class="section-link">
                            <a href="/windows-doors" class="link-btn btn-yellow-xl"><span class="link-btn-label">Learn More</span></a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-4">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Windows & Doors Section -->
        <!-- ======= Screens Section ======= -->
        <section id="screens" class="about pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="100">
                        <div class="section-title">
                            <h2>Screens</h2>
                        </div>
                        <div class="section-text">
                            <p class="text-justify">
                                While you probably know City Glass is expert in glass door and window repair, we also repair and replace window and door screens. We’ll repair tears in your window or door screens and if necessary replace and install new ones. Our screens come in a variety of materials and designs to meet your specifications. And you may be pleasantly surprised to discover how economical screen replacement is!
                            </p>
                        </div>
                        <div class="section-link">
                            <a href="/screens" class="link-btn btn-yellow-xl"><span class="link-btn-label">Learn More</span></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                        <img data-src="@Url.Content("~/default/img/residential/screen-repair007.jpg")" class="lazy img-fluid" alt="">
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-4">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Screens Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="about pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                        <img data-src="@Url.Content("~/default/img/residential/glass-company-truck.jpg")" class="lazy img-fluid" alt="">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="100">
                        <div class="section-title">
                            <h2>Services</h2>
                        </div>
                        <div class="section-text">
                            <p class="text-justify">
                                Our glass services are perfect for homeowners, property managers and store owners. If your home or business is in need of emergency glass service or maintenance, we’ll make sure your property is safe, secured and repaired as soon as possible.
                            </p>
                        </div>
                        <div class="section-link">
                            <a href="/services" class="link-btn btn-yellow-xl"><span class="link-btn-label">Learn More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->
    
    <partial name="_ContactUsBottomLink" />
