@model AeonicTech.TestApp.ViewModels.AddressEntityViewModel
@{
    ViewData["Title"] = "Address";
    ViewData["SubTitle"] = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-10">
        <h1 class="f-26">@ViewData["SubTitle"]</h1>
    </div>
    <div class="col-2 text-right">
        <a href="@Url.Action("ApiIndex", "Address", new { Area = "" })" title="Back" class="btn btn-secondary">Back</a>
    </div>
</div>

@Html.RenderAlert("AddressMessage")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>@TempData["result"]</h2>
                <form method="post" asp-action="ApiSave" asp-controller="Address">
                    <div class="form-body">
                        <div class="form-group row">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="AddressId" />
                            <input type="hidden" asp-for="IsPrimary" />
                            <input type="hidden" asp-for="IsActive" />
                            <label asp-for="EmailAddress" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="AddressLineOne" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="AddressLineOne" class="form-control" />
                                <span asp-validation-for="AddressLineOne"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="AddressLineTwo" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="AddressLineTwo" class="form-control" />
                                <span asp-validation-for="AddressLineTwo"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ZipCode" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="ZipCode" class="form-control" />
                                <span asp-validation-for="ZipCode"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CityName" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="CityName" class="form-control" />
                                <span asp-validation-for="CityName"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CountryId" class="col-3 control-label"></label>
                            <div class="col-4">
                                <select class="form-control" asp-for="CountryId" asp-items="ViewBag.CountryList">
                                    <option selected value="Select">Select</option>
                                </select>
                                <span asp-validation-for="CountryId"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="StateId" class="col-3 control-label"></label>
                            <div class="col-4">
                                <select class="form-control" asp-for="StateId" asp-items="ViewBag.StateList">
                                    <option selected value="Select">Select</option>
                                </select>
                                <span asp-validation-for="StateId"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="WebsiteAddress" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="WebsiteAddress" class="form-control" />
                                <span asp-validation-for="WebsiteAddress"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions form-actions-new">
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                                <a href="@Url.Action("ApiIndex", "Address", new { Area = "" })" title="Back" class="btn btn-danger ml-2">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
